
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: #202939;
    background-color: white;
    /* font-family: "Ties New mRoman", Times, serif; */
    font-family: 'Gotham', sans-serif;
    height: 100%;

}

a{
    font-family: 'Gotham', sans-serif;
    letter-spacing: .1ch;
}


.text-gradient{
    background: linear-gradient(90deg, #787ECF, #f36613, #787ECF, #f36613, #f36613 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.warning{
    font-weight: 500;
    color: #ff9982
}


.main-question{
    color: #2d2bb2    ;
    font-weight: 500;
}

.mi-1{
    margin-inline: 3.5rem;
}

.mi-2{
    margin-inline: 2.2rem;
} 

.mi-3{
    margin-inline: 1.6rem;
}

.mi-4{
    margin-inline: 1.0rem;
}

.mb-4{
    margin-bottom: -15px;
}

.ls-4{
    line-height: 2rem;
}

.ls-5{
    line-height: 1.6;
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.hide{
    display: none;
}

.fw-5{
    font-weight: 400;
}



@media (max-width: 39em) {
    
    h1{
        font-size: 1.5rem !important;
    }
    
    .fs-3{
        font-size: 1.6rem;
    }
    
    .fs-4{
        font-size: 1.4rem;
    }
    
    .fs-5{
        font-size: 1.2rem;
    }
    
    .fs-6{
        font-size: 1rem;
    }
    
    .fs-7{
        font-size: .8rem;
    }

    .fs-8{
        font-size: .6rem;
    }
}

@media (min-width: 39.111em) and (max-width: 69.999em) {
    
    h1{
        font-size: 2rem !important;
    }

    .fs-2{
        font-size: 2rem;
    }
    
    .fs-3{
        font-size: 1.8rem;
    }
    
    .fs-4{
        font-size: 1.6rem;
    }
    
    .fs-5{
        font-size: 1.4rem;
    }
    
    .fs-6{
        font-size: 1.2rem;
    }
    
    .fs-7{
        font-size: 1rem;
    }

    .fs-8{
        font-size: .8rem;
    }
}

@media (min-width: 70em) {

    h1{
        font-size: 3rem !important;
    }

    .fs-2{
        font-size: 2.2rem;
    }

    .fs-3{
        font-size: 2rem;
    }
    
    .fs-4{
        font-size: 1.8rem;
    }
    
    .fs-5{
        font-size: 1.6rem;
    }
    
    .fs-6{
        font-size: 1.4rem;
    }
    
    .fs-7{
        font-size: 1.2rem;
    }

    .fs-8{
        font-size: 1rem;
    }
}


.capital{
    text-transform: uppercase;
}

.light-text{
    color: #F36611;
}

.navy {
    color: #22207E;
}


.border-none{
    border: none;
    padding: 0;
}

/* ###################### header ###################### */

header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    font-family: 'Arial', sans-serif;
}

header .logo {
    width: 120%;
}

.mobile-login-cart-btns{
    display: none;
}

.navbar {
    gap: .7rem;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: var(--spacing-md, 8px) var(--spacing-lg, 12px);
}

.navbar a:hover {
    color: #F36611;
    font-weight: 600;
    text-decoration: none;
}

.primary-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* @supports (backdrop-filter: blur(2.5rem)) {
    .primary-navigation ul{
        background: hsl( var(white) / 0.05);
        backdrop-filter: blur(2.5rem);
    }
} */

.toggle-btn{
    display: none;
    border: 1px solid #1a2e89;
    background-color: white;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 600;
    color: #1a2e89;
    cursor: pointer;
    z-index: 2000;
}

.toggle-btn:hover{
    background-color: white;

}


.user-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


@media (min-width: 45em) and (max-width: 80em) {
    .primary-navigation ul{
        position: fixed;
        z-index: 1000;
        background: #ffffff;
        inset: 0 0 0 0;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        gap: 1rem;
    }

    .primary-navigation ul li{
        width: 100%;
        background-color: #FEF3F2;
        padding:  8px 120px ;
        text-align: center;
    }

    .nav-list[data-visible="true"]{
        transform: translateX(100%);
    }
    
    .nav-list[data-visible="false"]{
        transform: translateX(0%);
    }

    header .logo {
        width: 70%;
        padding: 20px;
        z-index: 20000;
    }    

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }

    .user-actions{
        position: relative;
        top: 0;
        z-index: 20000;
    }

    .primary-navigation{
    }

    .mobile-login-cart-btns{
        display:inline;
    }

    .toggle-btn{
        display: inline;
        position: relative; 
        top: 0;
        z-index: 20000;
    }

    .z-index-top{
        z-index: 20000;
    }

}



@media (max-width: 44.99999rem) {
    .primary-navigation ul{
        position: fixed;
        z-index: 1000;
        background: #ffffff;
        inset: 0 0 0 0;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        gap: 1rem;
        
    }

    .primary-navigation ul li {
        background-color: #FEF3F2;
        padding: 8px 12px ;
        width: 200px;
        text-align: center;
        border-radius: 10px;
    }


    .nav-list[data-visible="true"]{
        transform: translateX(100%);
    }

    .nav-list[data-visible="false"]{
        transform: translateX(0%);
    
    }

    header{
        padding: 0;
        margin: 0;
        /* grid-template-columns: 2fr 1fr ; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .toggle-btn{
        /* display: block; */
        margin: 0 20px;
        display: inline;
        position: relative; 
        top: 0;
        z-index: 20000;
    }

    header .logo{
        width: 70%;
        /* grid-column: 1; */
        z-index: 20000;
    }

    .z-index-top{
        z-index: 20000;
    }

    .mobile-login-cart-btns{
        display:block;
        /* width: 50%; */
        background-color: #fff !important;

    }

    .mobile-login-cart-btns a{
        color: black;
        /* padding: 1rem 7rem; */
        background-color: #fff;
        display: block;
    }

    .buttons{
        justify-content: center;
    }

}


.light-btn, .dark-btn {
    border: 1px solid #1a2e89;
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    color: #1a2e89;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg, 12px);
}

.light-btn:hover, .dark-btn:hover {
    background-color: #1a2e89;
    color: white;
}

.dark-btn {
    background-color: #1a2e89;
    color: white;
}

.dark-btn:hover {
    background-color: #13215a;
}

.hero-img {
    margin-top: -13.7%;
    margin-bottom: -20%;
    margin-left: -10%;
    clip-path: polygon(10% 25%, 100% 25%, 100% 70%, 10% 70%);
}

.sub-hero{
    margin-top: -15.6%;
    margin-bottom: -18%;
    clip-path: polygon(0 25%, 100% 25%, 100% 70%, 0 70%);
    width: 100%;

}


.logo-div > span {
    font-weight: 600;
    color: #f36613;
    letter-spacing: .2rem;
}

header button {
    cursor: pointer;
}

header .login-icon {
    height: 18px;
    width: 18px;
}

header .login-link {
    display: inline-flex;
    align-items: center;
}

/* ^^^^^^^^^^^^^^^^^^ Home ^^^^^^^^^^^^^^^^^^^^^ */

/* hero */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 20px; */
}

.hero-logo img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.content {
    max-width: 100%;
    background: #FEF3F2;
    padding: 0px 60px;
    align-content: center;
}

.badges{
    background: white;
    padding: 4px;
    border-radius: 10px;
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}

.new-course {
    display: inline-block;
    background-color: #F36611;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.explore-prods{
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.heading {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
}

.highlight {
    color: #ed6d3d;
    text-decoration: underline;
    text-decoration-color: #ed6d3d;
    font-family: Lora;
    font-style: italic;
}

.subtext {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #4c51bf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3c41a5;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 90em) {


    /* .buttons {
        display: flex;
        justify-content: center;
    } */

    /* .logo img {
        max-width: 60%;
    } */
}

/* groups */

.courses-container {
    padding: 40px 60px;
}

.courses-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.courses-container h1 span {
    color: #FF692E; /* Adjust this color as per the design */
    font-family: Lora;
    font-style: italic;
}

.courses-container p {
    color: #777;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));


    gap: 20px;
}

.course-item {
    background-color: #EEF2F6;
    padding: 20px;
    height: 262px;
    width: 270px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-align: center;
    margin-bottom: 3rem;
    cursor: pointer;
    justify-self: center;
}

.course-item img {
    width: 190px;
    height: 185px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-inline: auto;
}

.course-item h3 {
    font-size: 1.2rem;
    margin-top: 3rem;
}

.course-item .rating {
    width: 25%;
    height: 10px;
    margin: 0 auto;

}

.course-item .rating img {
    font-size: 1.2rem;
    color: #f39c12; /* Adjust the star color as per the design */
    /* width: 10px; */
    height: 10px;
    margin: 0 auto;
}


.course-item:hover {
    transform: translateY(-10px);
}

@media (min-width: 1660px) {
    .course-item {
        width: 80%;
        height: 80%;
    }
}


/* products */
.products-container {
    padding: 40px 60px;
}

.products-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.products-container h1 span {
    color: #FF692E; /* Adjust this color as per the design */
    font-family: Lora;
    font-style: italic;
}

.products-container p {
    color: #777;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.product-item {
    background-color: white;
    padding: 20px;
    border: 1px solid #E3E8EF;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
    cursor: pointer;
    justify-self: center;
    /* width: 150;
    height: 150; */
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-item:hover {
    transform: translateY(-10px);
}


/* mission vision */
.mission-vision-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px;
    background-color: #FEF3F2; /* Adjust this color as needed */
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission, .vision {
    margin-bottom: 30px;
}

.mission-vision-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    position: relative;
    margin-bottom: 10px;
}

.dot {
    color: #f8a5c2; /* Adjust the color as needed */
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    border-left: 4px solid #f8a5c2; /* Left border styling */
    padding-left: 15px; /* Spacing between border and text */
}

.mission-vision-container p{
    color: #555;
}

.image-section {
    display: flex;
}

.image-wrapper {
    width: 100%;
    height: auto;
}

.image1, .image2 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 37%;
    display: block; /* Remove bottom spacing caused by inline images */

}

.image1 {
    z-index: 1;
    transform: translate(130%, 10%);
}

.image2 {
    z-index: 2;
    transform: translate(60%, -55%);
}


/* co info */
.company-info-container {
    text-align: center;
    padding: 50px 20px;
    background-color: white; /* Adjust this color as needed */
}

.company-info-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.company-info-container .dot {
    color: #f8a5c2; /* Adjust the color as needed */
}

.intro-text {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 40px;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
}

.ceo-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.info-text {
    text-align: left;
    color: #555;
}

.info-text p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.ceo-name {
    color: #e67e22; /* Adjust this color for the CEO name */
    font-size: 1.1rem;
}

/* testimonials */

.testimonials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px;
    background-color: #F0F9FF;
  }
  
  .testimonials-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .testimonials-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .testimonials-text .dot {
    color: #f8a5c2;
  }
  
  .testimonials-text p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .testimonials-text .view-all {
    font-size: 1rem;
    color: #1e3a8a;
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
  }
  
  .testimonials-text .arrow {
    font-size: 1.2rem;
  }
  
  .testimonial-slider {
    max-width: 60vw;
    /* width: 100ch; */
    height: 35ch;
  }

  @media (min-width: 44.9999em) and (max-width: 80em) {

    .info-card {
        flex-direction: column;
    }

    .content{
        padding-block: 15px;
        padding-inline: 10px;
        margin-inline: 0px;
    }
    
    .testimonials-container{
        grid-template-columns: 1fr;
    }

    .testimonial-slider {
        max-width: 85vw;
        height: fit-content;
      }

    .mission-vision-container {
        grid-template-columns: 1fr;
    }

    .rating{
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
  }


  @media (max-width: 44.9999rem) {

    .home-wraper .products-grid, .products-container{
        padding-inline: 10px;
    }

    .logo{
        margin-left: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .content{
        padding-block: 15px;
        padding-inline: 10px;
        margin-inline: 0px;
    }

    .slick-track{
        padding: 0;
    }

    .rating{
        display: none;
    }

    .products-grid{
        gap: 15px
    }
    
    .testimonials-container{
        grid-template-columns: 1fr;
    }

    .testimonial-slider {
        max-width: 80vw;
        height: auto;
      }

    .testimonial-card{
        flex-direction: column;
      }

      .info-card {
        flex-direction: column;
        border-top: 1px solid #e2e6e9;
        border-bottom: 1px solid #e2e6e9;
        border-radius: 0;
        box-shadow: none;
    }

    .mission-vision-container {
        grid-template-columns: 1fr;
        padding-block: 0;
    }

    .user-actions{
        display: none;
    }



    .logo{
        padding-block: 15px;
    }

    .image1, .image2 {
        width: 75%;
        padding: 0;

    }
    
    .image1 {
        z-index: 1;
        transform: translate(30%, 10%);
    }
    
    .image2 {
        z-index: 2;
        transform: translate(10%, -55%);
    }
  }
  
  .testimonial-card {
    display: flex !important;
    align-items: center;
    /*justify-content: flex-start; */
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .testimonial-content {
    text-align: left;
    color: #555;
    position: relative;
    /* width: 50ch; */
  }
  
  .testimonial-content h3 {
    color: #374151;
    margin-bottom: 10px;
  }
  
  .testimonial-content p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .quote-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: #f97316;
  }

  /* FAQs */
  .faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-item.active {
    background-color: #f4f9ff;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
  }
  
  .faq-answer {
    margin-top: 15px;
    font-size: 1rem;
    color: #555;
    padding-left: 20px;
    border-left: 3px solid #1e3a8a; /* Adjust this color to match the design */
  }
  
  .faq-toggle {
    font-size: 1.5rem;
    color: #1e3a8a; /* Adjust this color as needed */
  }
  
  .faq-item:not(.active):hover {
    background-color: #f9f9f9;
  }
  

/* ********************* Categories page ************************** */

.categos-list-container {
    /* padding-inline: 25px; */
}

.catego-figure {
    display: block; /* Ensures the figure doesn't take full width */
    max-width: 100%;
    margin: 2rem;
    padding: 0;
}

.catego-figure > img {
    width: 100%; 
    border-radius: 10px 10px 0 0;
}

.catego-caption {
    display: block; /* Ensures the caption takes full width of its container */
    border: 1px solid rgb(244, 244, 244);
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    background-color: whitesmoke;
    padding: 15px 10px;
    max-width: 100%;
    font-size: 2rem; /* Adjust as needed */
    font-weight: 500;
    text-align: center;
}

.catego-container{
    min-width: 100%;
}


@media (max-width: 39em) {
    .categos-list{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 39.111em) and (max-width: 69.999em) {
    .categos-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
}

@media (min-width: 70em) {
    .categos-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* *******************catego details ********************** */

.catego-detail-container{
    border-radius: 25px;
    margin: 20px;
}

.item-slice{
    border: 3px solid #dee2e6;
    border-radius: 25px;
    padding: 1px 20px;
    margin: 1rem;
    background-color: #fafbff;
    transition: .7s ease;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    flex-direction: column
}


.slice-hint{
    font-size: 1rem;
    font-weight: 400;
    color: #AAAAAA;
    position: absolute;
    right: 5rem;
}

.option-card {
    border: 1px solid #dee2e6;
    border-radius: 25px;
    margin: 10px 20px;
    padding: 0 2rem;
    transition: 1.3s ease;
    overflow: hidden;
    /* width: 90%; */
}

.option-card p{
    /* max-height: calc(80vh - 120px);  */
}

.expanded-option {
    /* height: fit-content;  */
    overflow: scroll;
    /* padding-bottom: 1000rem; */
}

.collapsed-option {
    max-height: 5vh;
    min-height: 4.2rem;
}

.collapsed-option h2{
    overflow: hidden; /* Ensure this is included */
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media (max-width: 45em) {
    .option-card{
        margin: .7rem 0;
        padding: 0;
    }

    .expanded-option {
        /* height: 200vh;  */
    }    

    .arrow-span{
        padding: 0 !important;
        height: 0 !important;
        width: 10px  !important;
    }

    .add-cart-button {
        font-size: 0;
        /* width: 40px !important; */
    }

    .add-cart-button  i{
        font-size: 15px;
    }

    .slice-hint{
        display: none;
    }

    .catego-detail-container{
        margin: 20px 0px;
    }

    .item-slice{
        margin: 1rem 5px;
    }

    .option-card p{
        max-height: none;
    }
}


.card-title-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Make it sticky */
    top: 0; /* Distance from the top when sticking */
    z-index: 9999; 
    background-color: #fafbff !important;
}



.card-title-add > h2{
    flex-grow: 1;
}

.card-title-add .arrow-span{
    border: none;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    background-color: #EFEFEF;
}

.card-title-add .arrow{
    stroke-width: 60px;
    color: #787ECF;
}

.add-cart-button {
    width: 40vh;
    height: 3rem;
    margin: .6rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: #77b4de;
    font-family: 'Gotham', sans-serif;
}

.add-cart-button:hover {
    background-color: #5ea5d5;
}

.add-cart-button:disabled {
    background-color: #CCCCCC; 
    cursor: not-allowed; 
}

/* ++++++++++++++++++++++ CART +++++++++++++++++++++++++ */
.cart-container{
    padding: '20px';
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.cart-item{
    background-color: #ffffff;
    padding: 15px 2rem;
    margin: 2rem 0px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    display: grid;
    grid-template-areas: 
        '  title . delete '
        '  catego choices1 choices0'
        '  . . price ';
}

.cart-item-title{
    color: #025e9b;
    /* color: #028b9b; */
    grid-area: title;
}

.cart-item-catego{
    grid-area: catego;
}

.cart-delete-button{
    grid-area: delete;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #414141;
    cursor: pointer;
    padding: 0;
    margin: 0;
    justify-self: end; /* Aligns to the left */
    align-self: center;
}

.cart-delete-button:hover{
    background-color: transparent;
    font-size: 20px;

}

.cart-choices0 {
    grid-area: choices0;
    padding: 1rem;
    margin-block: .5rem;
    width: 95%;
    justify-self: end;
    border-radius: 5px; 
}


.cart-choices1 {
    grid-area: choices1;
    padding: 1rem;
    margin-block: .5rem;
    width: 95%;
    border-radius: 5px; 
    justify-self: end;
}

.cart-choices0 > option{
    font-size: 1.2rem;
}

.cart-choices1 > option{
    font-size: 1.2rem;
}

.cart-item-price{
    grid-area: price;
    justify-self: end; /* Aligns to the left */
}

@media (max-width: 40em) {

    .cart-container {
        margin: 1rem .5rem;
    }

    .cart-item {
        grid-template-areas: 
        ' title delete '
        ' catego .'
        ' choices0 .'
        ' choices1 .'
        ' price .';
    }

}

/* ------------------------ checkout ------------------------- */

.checkout-button{
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    align-self: center;
    background-color: #f36613;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Gotham', sans-serif;

}


/* +++++++++++++++++++++++++ products ++++++++++++++++++++++++++ */

.hero-img{
    width: 100%;
}

.hero-div{
    position: relative;
    text-align: center;
    width: 100%;
}

.hero-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: .7rem;
    color: white;
    border: none;
    width: 100%;
}

.hero-img-text h2{
    border: none;
    padding: 0;
}

.hero-img-text p{
    border: none;
    padding: 0;
}

@media (max-width: 45em) {
    .hero-img-text p{
        display: none;
    }
}


/* .products-hero-div span{
    color: #028b9b;
} */

.products-list-container {
    margin: 3rem;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, .5fr)); /* Ensure cards take up equal space */
    gap: 4rem .5rem; /* Row gap and column gap */
    margin-bottom: 7rem;
}

.product-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the figure takes up the full height of its container */
    max-width: 80%;
    margin: 0 auto; /* Center the figure horizontally */
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    overflow: hidden; /* Ensure content stays within the card */

}

.product-figure > img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the entire width while maintaining aspect ratio */

}

.product-caption {
    border-top: 1px solid rgb(244, 244, 244);
    background-color: whitesmoke;
    padding: 15px 10px;
    font-weight: 500;
    text-align: center;
}

.product-title-price {
    padding: 0.3rem 1rem;
    text-align: center; /* Center align the text */
}

.product-title-price > :nth-child(1) {
    font-weight: bold;
    color: #413f9f; /* A darker grey for contrast */
}

.product-title-price > :nth-child(2) {
    color: #333; /* A darker grey for contrast */
}

/* .product-caption button{
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color:#ff8b38f1;
    border: none;
    border-radius: 5px;
}

.product-caption button:hover{
    transform: rotateY(10deg);
} */





@media (min-width: 30.111em) and (max-width: 69.999em) {
    .products-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, .5fr)); /* Ensure cards take up equal space */
    }

    .products-hero-div h2{
        visibility: visible;
        font-size: 1.8rem;
    }
}

@media (max-width: 30.111em) {
    .products-list {
        grid-template-columns: repeat(auto-fit, minmax(120px, .5fr)); /* Ensure cards take up equal space */
    }
}


.catego-title{
    margin: 2rem auto;
    font-weight: 500;
    font-size: 2rem;
    background-color: whitesmoke;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    /* margin-bottom: -.1rem; */
}



/* %%%%%%%%%%%%%%%%%%%%%5 product detail %%%%%%%%%%%%%%%%%%%%%%%%% */
.product-detail{
    display: grid;
    grid-template-areas: 
        'images actions'
        'description .'
        ;
    grid-template-columns: 1fr 1fr; /* Set max width for images area */
    gap: 1rem; /* Adjust gap as needed */

}

.product-detail-img-div{
    grid-area: images;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: .4rem auto;
    border: 2px solid whitesmoke;
    max-width: 500px;
}

.product-detail-img-div img{
    max-width: 100%;
}

.product-detail-button-choices{
    grid-area: actions;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.add-cart-product-button{
    width: 40vh;
    height: 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #3c41a5;
    font-family: 'Gotham', sans-serif;
}

.product-detail-button-choices-title-div{
    text-align: start;
}

.product-detail-quan{
    display: flex;
}

.product-detail-quan > div{
    padding: .7rem 1rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.product-detail-quan > button{
    padding: 0 1rem;
    margin-right: 0;
}

.product-detail-quan > button:first-child{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.product-detail-quan > button:last-child{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.product-detail-description{
    grid-area: description;
    padding: 20px;
    margin: .1rem 2rem;
    text-align: start;
    grid-column: span 2;
}

@media (max-width: 55em) {
    .product-detail{
        grid-template-areas: 
            'images images'
            'actions actions'
            'description description'
            ;
        justify-content: center;
        align-items: center;
    }

    .product-detail-button-choices{
        justify-content: flex-start;
        align-items: flex-start;

    }

    .product-detail-button-choices > *{
        margin: .5rem auto;
        width: 90%; /* Ensure the container takes up the full width */

    }
}


/* ///////////////////////Image Slider\\\\\\\\\\\\\\\\\\\\\\\\ */
.container__slider {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
  }
  
  .container__slider > button {
    background-color: transparent;
    outline: none;
    border: 0;
    color: whitesmoke;
    font-size: 24px;
  }
  
  .container__slider > button:active {
    color: black;
  }
  
  .slider__btn-next {
    position: absolute;
    right: 0;
  }
  
  .slider__btn-prev {
    position: absolute;
    left: 0;
  }
  
  .container__slider__links {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .container__slider__links-small {
    position: relative;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
    outline: none;
    border: 0;
    background-color: white;
    border: 1px solid grey;
    transition: background-color 1s ease;
    margin: 0 2px;
  }
  
  .container__slider__links-small-active {
    background-color: black;
  }
  
  .slider__item {
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    height: auto;
    transform: translateX(0);
    transition: transform 1s ease;
  }
  
  .slider__item-active-1 {
    transform: translateX(0);
  }
  
  .slider__item-active-2 {
    transform: translateX(-100%);
  }
  
  .slider__item-active-3 {
    transform: translateX(-200%);
  }
  
  .slider__item-active-4 {
    transform: translateX(-300%);
  }
  
  .slider__item-active-5 {
    transform: translateX(-400%);
  }
  
  .slider__item-active-6 {
    transform: translateX(-500%);
  }
  
  .slider__item-active-7 {
    transform: translateX(-600%);
  }

  .slider__item-active-8 {
    transform: translateX(-700%);
  }

  .slider__item-active-9 {
    transform: translateX(-800%);
  }

  .slider__item-active-10 {
    transform: translateX(-900%);
  }

  .slider__item-active-11 {
    transform: translateX(-1000%);
  }

  .slider__item-active-12 {
    transform: translateX(-1100%);
  }

  .slider__item-active-13 {
    transform: translateX(-1200%);
  }

  .slider__item-active-14 {
    transform: translateX(-1300%);
  }

  .slider__item-active-15 {
    transform: translateX(-1400%);
  }

  .slider__item-active-16 {
    transform: translateX(-1500%);
  }

  .slider__item-active-17 {
    transform: translateX(-1600%);
  }

  .slider__item-active-18 {
    transform: translateX(-1700%);
  }

  .slider__item-active-19 {
    transform: translateX(-1800%);
  }

  .slider__item-active-20 {
    transform: translateX(-1900%);
  }

  .slider__item-active-21 {
    transform: translateX(-2000%);
  }

  .slider__item-active-22 {
    transform: translateX(-2100%);
  }

  .slider__item-active-23 {
    transform: translateX(-2200%);
  }

  .slider__item-active-24 {
    transform: translateX(-2300%);
  }

  .slider__item-active-25 {
    transform: translateX(-2400%);
  }

  .slider__item-active-26 {
    transform: translateX(-2500%);
  }

  .slider__item-active-27 {
    transform: translateX(-2600%);
  }

  .slider__item-active-28 {
    transform: translateX(-2700%);
  }

  .slider__item-active-29 {
    transform: translateX(-2800%);
  }

  .slider__item-active-30 {
    transform: translateX(-2900%);
  }

  .slider__item-active-31 {
    transform: translateX(-3000%);
  }

  .slider__item-active-32 {
    transform: translateX(-3100%);
  }

  .slider__item-active-33 {
    transform: translateX(-3200%);
  }

  .slider__item-active-34 {
    transform: translateX(-3300%);
  }

  .slider__item-active-35 {
    transform: translateX(-3400%);
  }

  .slider__item-active-36 {
    transform: translateX(-3500%);
  }

  .slider__item-active-37 {
    transform: translateX(-3600%);
  }

  .slider__item-active-38 {
    transform: translateX(-3700%);
  }

  .slider__item-active-39 {
    transform: translateX(-3800%);
  }

  .slider__item-active-40 {
    transform: translateX(-3900%);
  }

  .slider__item-active-41 {
    transform: translateX(-4000%);
  }

  .slider__item-active-42 {
    transform: translateX(-4100%);
  }

  .slider__item-active-43 {
    transform: translateX(-4200%);
  }

  .slider__item-active-44 {
    transform: translateX(-4300%);
  }

  .slider__item-active-45 {
    transform: translateX(-4400%);
  }

  .slider__item-active-46 {
    transform: translateX(-4500%);
  }

  .slider__item-active-47 {
    transform: translateX(-4600%);
  }

  .slider__item-active-48 {
    transform: translateX(-4700%);
  }

  .slider__item-active-49 {
    transform: translateX(-4800%);
  }
  
  .slider__item-active-50 {
    transform: translateX(-4900%);
  }

  .slider__item-active-51 {
    transform: translateX(-5000%);
  }

  .slider__item-active-52 {
    transform: translateX(-5100%);
  }

  .slider__item-active-53 {
    transform: translateX(-5200%);
  }

  .slider__item-active-54 {
    transform: translateX(-5300%);
  }

  .slider__item-active-55 {
    transform: translateX(-5400%);
  }

  .slider__item-active-56 {
    transform: translateX(-5500%);
  }

  .slider__item-active-57 {
    transform: translateX(-5600%);
  }

  .slider__item-active-58 {
    transform: translateX(-5700%);
  }

  .slider__item-active-59 {
    transform: translateX(-5800%);
  }

  .slider__item-active-60 {
    transform: translateX(-5900%);
  }

  .slider__item-active-61 {
    transform: translateX(-6000%);
  }
  
  .slider__item img {
    width: 100%;
    height: auto;
  }
  



/* ======================success page =============================*/
.success-page{
    text-align: center;
} 

.moodle-login{
    padding: .5rem 4rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    border-radius: .6rem;
    color: #fff;
    background-color: #0f6cbf;
    border-color: #0f6cbf;
    cursor: pointer;
}

.success-page a{
    color: #0f6cbf;
}


/* 0000000000000000000000 Venue page 000000000000000000000 */
.venue-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.light-info-div {
    border-radius: 0.75rem;
    background: #FEF3F2;
    padding: .7rem 1rem;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.rental-cards-div {
    gap: 3rem;
}

.rental-cards-div p {
    border: none;
    padding: 0;
}

.rental-card {
    padding: 1px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
  }
  
  .rental-card-image {
    width: 100%;
    border-radius: 10px;
    /* height: auto; */
    border-bottom: 1px solid #e0e0e0;
  }
  
  .rental-card-content {
    padding: 20px;
  }
  
  .rental-card-title {
    font-size: 1.25rem;
    color: #333;
    margin: 10px 0;
  }
  
  .rental-card-price {
    font-size: 1.5rem;
    color: #e36b25;
    margin: 10px 0;
  }
  
  .rental-card-button {
    background-color: white;
    color: #202939;
    border: 1px solid #E3E8EF ;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .rental-card.selected {
    background-color: #FEF3F2;

  }

  .rental-card-button.selected {
    color: #fff;
    background-color: #e36b25;
  }
  
  .rental-card-button:hover {
    color: white;
    background-color: #d4591cd1;
  }
  

  .feature-card {
    background-color: #fff;
    max-width: 13rem;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-icon {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 10rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .feature-icon img {
    width: 60px;
    height: auto;
  }
  
  .feature-title {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
  }
  
  .feature-description {
    font-size: 0.9rem;
    color: #666;
  }

  
  .features-section {
    text-align: center;
    padding: 40px 20px;
  }
  
  .features-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .features-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .light-info-div p {
    border: none;
  }

.booking-div{
    background-color: #EEF2F6;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    color: #344054;
}

.picker-duration-div{
    display: grid;
    grid-template-areas: 
        'date duration'
        'info info'
        'button button'
    ;
    margin: 1rem 0;
    gap: 2rem;
}

.picker-duration-div .date {
    grid-area: date;
    width: 100%;
    text-align: left;
    align-self: flex-start;
}

.picker-duration-div .date  {
    text-align: left;
}

.picker-duration-div .duration {
    grid-area: duration;
    width: 100%;
    text-align: left;
}

.picker-duration-div .light-info-div {
    grid-area: info;
}

.react-datepicker-wrapper{
    width: 100%;
}

.picker-duration-div input {
    padding: .7rem 10px;
    margin-top: 10px;
    border-radius: 10px;
    letter-spacing: 1.7px;
    border: 1px solid #D0D5DD;
    color: #344054;
    width: 100% !important;
}


.picker-duration-div select {
    padding: .7rem 10px;
    margin-top: 10px;
    width: fit-content;
    border-radius: 10px;
    letter-spacing: 1.7px;
    border: 1px solid #D0D5DD;
    color: #344054;
    width: 100% ;
}

.booking-div .light-info-div{
    background-color: white;
    text-align: left;
}


.book-button-div{
    display: flex;
    grid-area: button;
}

.book-button-div button {
    background-color: #e36b25;
}

.book-button{
    width: 50%;   
    margin: 1rem auto;
}


@media (max-width: 50em) {
    .rental-cards-div {
        flex-direction: column;
    }

    .picker-duration-div{
        display: grid;
        grid-template-areas: 
            'date'
            'duration'
            'info'
            'button'
        ;
        margin: 1rem 0;
        gap: 2rem;
    }

}



/* ----------------- footer ------------------ */

.footer-container {
    background-color: #12113A;
    color: white;
    padding: 50px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-left {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    margin-bottom: 20px;
    width: 300px;
  }
  
  .footer-left p {
    margin: 10px 0;
  }
  
  .footer-links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-links a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-right {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
  }
  
  .subscribe-box {
    background-color: #1C1B58;
    padding: 20px;
    border-radius: 10px;
  }
  
  .subscribe-box h3 {
    margin-bottom: 10px;
  }
  
  .subscribe-box p {
    margin-bottom: 20px;
  }
  
  .subscribe-box form {
    display: flex;
    flex-direction: column;
  }
  
  .subscribe-box input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .subscribe-box button {
    padding: 10px;
    background-color: #F36611;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subscribe-box button:hover {
    background-color: #e67e22;
  }
  
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #555;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: white;
    margin-right: 15px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #f8a5c2;
  }

  
/* $$$$$$$$$$$$$$$$$$$$$$ end $$$$$$$$$$$$$$$$$$$$$$$$$$ */

a {
    text-decoration: unset;
    color: unset;
    /* display: inline-block; width: fit-content; */
}

body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
    display: none;
  }

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 82px;
    flex: 1; 
    overflow: visible;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.back-button {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 26px;
}

.back-button span:hover {
    text-decoration: underline;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home-container h1 {
    font-weight: 900;
    line-height: 42px;
    padding-inline: 2rem;

}

.home-container p {
    line-height: 24px;
    padding-inline: 2rem;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    margin-top: 27px;
    padding-block: 1rem;
    padding-inline: 3rem;
    letter-spacing: .08ch;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}


/*** VAN PAGES ***/


.van-list-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 2rem;
}

.van-list-filter-buttons > a {
    margin-right: 15px;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width: 39em){
    .van-list-container button {
        margin-block: 5px;
    }
}


.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #22207e;
    color: white;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}



.van-type:focus {
    outline: none;
}

.van-type.selected {
    background-color: #f36613;
}

.van-type:hover{
    background-color: #5ea5d5;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.van-detail-container {
    padding-inline: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}

.host-nav {
    display: flex;
    margin-bottom: 30px;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}

.host-van-detail-layout-container {
    background-color: white;
    padding: 24px;
    margin: 30px 26px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail > img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}

.host-van-detail-info-text > h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text > h4 {
    font-size: 20px;
    margin-block: 0;
}

.host-van-detail-nav {
    display: flex;
    margin-block: 25px;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 15px;
    margin-left: -15px;
}

.host-van-detail-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 700;
}

.host-van-detail-info > h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.host-van-detail-info > h4 > span {
    font-weight: 500;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
}

.host-van-price > span {
    font-size: 16px;
    color: #4D4D4D;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
}

.not-found-container {
    padding-inline: 26px;
}

.not-found-container .link-button {
    width: 100%;
    background-color: #161616;
    color: white;
}

.login-container {
    border-top: 1px solid gray;
    padding-top: 2rem;
    padding-inline: 27px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;    
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    font-family: "Inter", sans-serif;
}

.login-form > button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

.red {
    color: #cc0000;
}

.host-dashboard-earnings {
    background-color: #ffead0;
    padding: 37px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings > .info > h1 {
    font-size: 36px;
    color: #161616;
    margin: 0;
}

.host-dashboard-earnings > .info > p {
    color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
    margin: 0;
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-dashboard-reviews {
    background-color: #ffddb2;
    padding: 25px 26px;
    display: flex;
    align-items: center;
}

.host-dashboard-reviews > h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #ff8c38;
    margin-left: 15px;
    font-size: 25px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
}

.host-dashboard-reviews p > span {
    font-weight: bold;
    color: #161616;
}

.host-dashboard-vans {
    padding: 38px 26px;
}

.host-dashboard-vans > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}

.host-income {
    padding-inline: 26px;
    color: #161616;
}

.host-income > p {
    color: #4d4d4d;
}

.host-income > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income > h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header > p {
    color: #4d4d4d;
}

.host-income .info-header > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header > h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}
.host-income .transaction > h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction > p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

.host-reviews {
    padding-inline: 26px;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text > p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews > img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}
